.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}


Copiar código
.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.offcanvas-body {
    background-color: #343a40;
    color: white;
}

h5 {
    margin: 0;
}